<div>
  <h2>
    <span>Custom loading template</span>
    <br />
    <small><small>Pager on top, default page 2, page size 5, no dialogs</small></small>
    <ul class="pull-right nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a role="tab" data-toggle="tab" class="btn btn-defaut"
          href="#example-custom-loading-showcase"
          aria-controls="example-custom-loading-showcase">Example</a>
      </li>
      <li role="presentation">
        <a role="tab" data-toggle="tab" class="btn btn-defaut"
          href="#example-custom-loading-html"
          aria-controls="example-custom-loading-html">HTML</a>
      </li>
      <li role="presentation">
        <a role="tab" data-toggle="tab" class="btn btn-defaut"
          href="#example-custom-loading-js"
          aria-controls="example-custom-loading-js">Javascript</a>
      </li>
    </ul>
  </h2>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="example-custom-loading-showcase">
      <ng-include src="'partials/examples/_example_custom_loading.html'"></ng-include>
    </div>
    <div role="tabpanel" class="tab-pane" id="example-custom-loading-html">
      <div hljs include="'partials/examples/_example_custom_loading.html'"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="example-custom-loading-js">
      <div hljs include="'javascripts/examples/custom_loading_example.js'"></div>
    </div>
  </div>
</div>
