<div>
  <h2>
    <span>Custom pager template</span><br />
    <small>Pager on top and bottom, page size 5, no dialogs</small>
    <ul class="pull-right nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a role="tab" data-toggle="tab" class="btn btn-defaut"
          href="#example-custom-pager-showcase"
          aria-controls="example-custom-pager-showcase">Example</a>
      </li>
      <li role="presentation">
        <a role="tab" data-toggle="tab" class="btn btn-defaut"
          href="#example-custom-pager-html"
          aria-controls="example-custom-pager-html">HTML</a>
      </li>
      <li role="presentation">
        <a role="tab" data-toggle="tab" class="btn btn-defaut"
          href="#example-custom-pager-js"
          aria-controls="example-custom-pager-js">Javascript</a>
      </li>
    </ul>
  </h2>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="example-custom-pager-showcase">
      <ng-include src="'partials/examples/_example_custom_pager.html'"></ng-include>
    </div>
    <div role="tabpanel" class="tab-pane" id="example-custom-pager-html">
      <div hljs include="'partials/examples/_example_custom_pager.html'"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="example-custom-pager-js">
      <div hljs include="'javascripts/examples/custom_pager_example.js'"></div>
    </div>
  </div>
</div>
