<!DOCTYPE html>
<html ng-app="ngTableAsync.examples.01">

  <head>

    <meta charset="utf-8">
    <script>document.write('<base href="' + document.location + '" />');</script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../dist/ng-table-async.css">
    <style>
      body { padding: 20px; }
    </style>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.4.0/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.min.js"></script>
    <script type="text/javascript" src="../../dist/ng-table-async-tpls.js"></script>
    <script type="text/javascript" src="../../dist/ng-table-async.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <script type="text/ng-template" id="_delete_user_confirm.html">
      <div class="modal-header">
        <h3 class="modal-title">Delete user</h3>
      </div>

      <div class="modal-body">
        <b>Do you wish to delete user "{{ username }}"?</b> This operation cannot be undone.
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
        <button class="btn btn-danger" ng-click="$close()">Delete</button>
      </div>
    </script>

  </head>

  <body ng-controller="MainController">

    <h1>ngTableAsync</h1>
    <hr />
    <h3>Overview example</h3>

    <ng-table-async options="tableOptions">
      <nta-column header="'id'"    content="item.id"></nta-column>
      <nta-column header="'Email'" content="item.email"></nta-column>
      <nta-column header="'Counter'">
        <span ng-bind="item.counter"></span>
        <nta-action
          action = "increment"
          size   = "xs"
          icon   = "glyphicon glyphicon-plus"
        ></nta-action>
      </nta-column>
      <nta-column header="'Actions'">
        <nta-action
          label  = "Reset counter"
          action = "reset"
          size   = "xs"
          icon   = "glyphicon glyphicon-ban-circle"
        ></nta-action>
        <nta-action
          label  = "Remove"
          action = "remove"
          size   = "xs"
          icon   = "glyphicon glyphicon-trash"
          style  = "danger"
        ></nta-action>
      </nta-column>
    </ng-table-async>

  </body>

</html>
