<!DOCTYPE html>
<html>

  <head>
    <!-- <base href="https://andresmatasuarez.github.io/ng-table-async/"> -->
    <base href="/">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ngTableAsync: ngTable wrapper that offers some base functionality and abstractions for working with asynchronous tables. ">

    <title>ngTableAsync</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="lib/ng-table-async.min.css">


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/0.7.1/angular-scroll.min.js"></script>
    <script type="text/javascript" src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.min.js"></script>
    <script type="text/javascript" src="lib/ng-table-async-tpls.min.js"></script>

    <script type="text/javascript" src="javascripts/data.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
    <script type="text/javascript" src="javascripts/examples/simple_example.js"></script>
    <script type="text/javascript" src="javascripts/examples/custom_loading_example.js"></script>
    <script type="text/javascript" src="javascripts/examples/custom_no_data_example.js"></script>
    <script type="text/javascript" src="javascripts/examples/custom_pager_example.js"></script>
    <script type="text/javascript" src="javascripts/examples/dialog_example.js"></script>

  </head>

  <body ng-app="ngTableAsyncPages" class="container-fluid">

    <div class="main-content row">

      <!--Main Content -->
      <div class="col-xs-7">

        <section class="col-xs-12" id="introduction">
          <h1>Introduction</h1>

          <p>
            <strong><a href="http://ng-table.com/">ngTable</a></strong> wrapper that offers some base functionality and abstractions for working with asynchronous tables. It serves as a way to avoid table boilerplate code, by declaring only those things relevant in our context.
          </p>

          <p>
            It's specially useful for backoffice/dashboard developers, so they can come out with a fully functional asynchronous table with a default <strong>Bootstrap</strong> style in very few quick steps, where <strong>behaviour has more priority than markup</strong>.
          </p>

          <p>
            This module <strong>in no way</strong> intends to be a replacement for <strong>ngTable</strong>, but an enhancement. If it doesn't satisfy your needs, submit a feature PR or go back to <strong>ngTable</strong> :).
          </p>

        </section>

        <section class="col-xs-12" id="getting-started">
          <h1>Getting started</h1>
          <ol>
            <li>
              Install <strong>ngTableAsync</strong> <br />
              <code>bower install ng-table-async</code>
            </li>
            <li>
              Include dependencies in markup:
              <ol>
                <li><a href="https://lodash.com/">Lodash</a></li>
                <li><a href="https://angularjs.org/">AngularJS</a></li>
                <li><a href="http://ng-table.com/">ngTable</a></li>
                <li><a href="https://angular-ui.github.io/bootstrap/">UI.Bootstrap</a> (optional for confirmation dialog support)</li>
              </ol>
            </li>
            <li>
              Include <strong>ngTableAsync</strong> files:
              <ul>
                <li><code>&lt;script type=&quot;text/javascript&quot; src=&quot;ng-table-async.js&quot;&gt;&lt;/script&gt;</code></li>
                <li><code>&lt;link rel=&quot;stylesheet&quot; href=&quot;ng-table-async.css&quot;&gt;&lt;/script&gt;</code></li>
              </ul>
            </li>
            <li>
              Include as a module dependency in your <strong>AngularJS</strong> app: <br />
              <code>angular.module('myApp', [
                ...
                'ngTableAsync'
                ...
              ])</code>
            </li>

          </ol>
        </section>

        <section class="col-xs-12" id="examples">

          <h1>Examples</h1>

          <div class="section-example" id="simple-example">
            <ng-include src="'partials/_example_simple_section.html'"></ng-include>
          </div>

          <div class="section-example" id="custom-loading-example">
            <ng-include src="'partials/_example_custom_loading_section.html'"></ng-include>
          </div>

          <div class="section-example" id="custom-no-data-example">
            <ng-include src="'partials/_example_custom_no_data_section.html'"></ng-include>
          </div>

          <div class="section-example" id="custom-pager-example">
            <ng-include src="'partials/_example_custom_pager_section.html'"></ng-include>
          </div>

          <div class="section-example" id="dialog-example">
            <ng-include src="'partials/_example_dialog_section.html'"></ng-include>
          </div>

        </section>

      </div>

      <!--Nav Bar -->
      <nav class="col-xs-5 nav-sidebar">

        <div class="container-fluid fixed footer-wrapper">

          <a href="https://github.com/andresmatasuarez/ng-table-async"><img style="z-index: 9999;position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

          <div class="header row">
            <div class="col-xs-11">
              <h1>ngTableAsync</h1>
              <p>
                <strong><a href="http://ng-table.com/">ngTable</a></strong> wrapper that offers some base functionality and abstractions for working with asynchronous tables. It serves as a way to avoid table boilerplate code, by declaring only those things relevant in our context.
              </p>
              <p>
                <a class="btn btn-primary btn-lg" href="https://github.com/andresmatasuarez/ng-table-async" role="button">
                  View on GitHub
                </a>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-11">
              <ul du-spy-context="40" id="sidebar" class="nav nav-stacked">
                <li du-scrollspy="introduction">
                  <a href="#" ng-click="scrollTo('introduction')">Introduction</a>
                </li>
                <li du-scrollspy="getting-started">
                  <a href="#" ng-click="scrollTo('getting-started')">Getting started</a>
                </li>
                <li du-scrollspy="examples">
                  <a href="#" ng-click="scrollTo('examples')">Examples</a>
                  <ul du-spy-context="40" class="nav nav-stacked">
                    <li du-scrollspy="simple-example">
                      <a href="#" ng-click="scrollTo('simple-example')">Simple</a>
                    </li>
                    <li du-scrollspy="custom-loading-example">
                      <a href="#" ng-click="scrollTo('custom-loading-example')">Custom loading template</a>
                    </li>
                    <li du-scrollspy="custom-no-data-example">
                      <a href="#" ng-click="scrollTo('custom-no-data-example')">Custom 'No data' template</a>
                    </li>
                    <li du-scrollspy="custom-pager-example">
                      <a href="#" ng-click="scrollTo('custom-pager-example')">Custom pager template</a>
                    </li>
                    <li du-scrollspy="dialog-example">
                      <a href="#" ng-click="scrollTo('dialog-example')">Confirmation dialog</a>
                    </li>
                  </ul>

                </li>
              </ul>
            </div>
          </div>

          <footer class="col-xs-12 footer text-sm">
            <small><small>Andrés Mata Suárez - 2015</small></small>
            <br />
            <small><small>Feel free to contact me on</small></small>
            <a href="mailto:amatasuarez@gmail.com"><span class="fa fa-envelope"></span></a>
            <a href="https://www.facebook.com/andres.matasuarez"><span class="fa fa-facebook-official"></span></a>
            <a href="https://github.com/andresmatasuarez"><span class="fa fa-github-square"></span></a>
            <br />
            <br />
            <small><small>Code under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a></small></small>
            <br />
            <br />
            <small><small><small>Rest in festering slime.</small></small></small>
          </footer>

        </div>

      </nav>

    </div>

  </body>

</html>
