body {
  font-size: 1.7em;
}

h1 {
  padding-bottom : 5px;
  border-bottom  : 1px solid rgb(224, 224, 224);
}

.section-example {
  margin-bottom: 50px;
}

.section-example h2 {
  padding-bottom : 8px;
  border-bottom  : 1px solid rgb(224, 224, 224);
}

nta-no-data h1, nta-no-data h2 {
  padding-bottom : inherit !important;
  border-bottom  : inherit !important;
}

section {
  margin-bottom: 50px;
}

.fixed {
  position: fixed;
}

.footer-wrapper {
  min-height: 100%;
}

/* Bootstrap colors override */
a {
  color: rgb(132, 3, 26);
}
a:hover {
  color           : red;
  text-decoration : none;
}

.btn-primary {
  background-color : rgb(132, 3, 26);
  border           : none;
}

.btn-primary:hover {
  background-color: red;
}

/* http://getbootstrap.com/examples/sticky-footer/ */
.footer {
  position  : absolute;
  bottom    : 0;
  height    : 170px;
  color     : gray;
}

/* sidebar */
.nav-sidebar {
  padding-left  : 20px;
  margin-bottom : 20px;
}

.nav-sidebar .header {
  margin-bottom: 20px;
}

/* all links */
.nav-sidebar .nav>li>a {
  color       : #999;
  border-left : 2px solid transparent;
  padding     : 4px 20px;
  font-size   : 13px;
  font-weight : 400;
}

/* nested links */
.nav-sidebar .nav .nav>li>a {
  padding-top    : 1px;
  padding-bottom : 1px;
  padding-left   : 30px;
  font-size      : 12px;
}

/* active & hover links */
.nav-sidebar .nav>.active>a,
.nav-sidebar .nav>li>a:hover,
.nav-sidebar .nav>li>a:focus {
  color             : rgb(132, 3, 26);
  text-decoration   : none;
  background-color  : transparent;
  border-left-color : rgb(132, 3, 26);
}

/* all active links */
.nav-sidebar .nav>.active>a,
.nav-sidebar .nav>.active:hover>a,
.nav-sidebar .nav>.active:focus>a {
  font-weight: 700;
}

/* nested active links */
.nav-sidebar .nav .nav>.active>a,
.nav-sidebar .nav .nav>.active:hover>a,
.nav-sidebar .nav .nav>.active:focus>a {
  font-weight: 500;
}

/* hide inactive nested list */
.nav-sidebar .nav ul.nav {
  display: none;
}

/* show active nested list */
.nav-sidebar .nav>.active>ul.nav {
  display: block;
}
