<!DOCTYPE html>
<html ng-app="examples.overview">

  <head>

    <meta charset="utf-8">
    <script>document.write('<base href="' + document.location + '" />');</script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/ng-table-async.css">
    <style>
      body { padding: 20px; }
    </style>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.4.0/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.min.js"></script>
    <script type="text/javascript" src="../dist/ng-table-async-tpls.js"></script>

    <script type="text/javascript">
      window.DATA = [
        { id:  1, name:  'A', counter: 0, email: 'a@mail.com' },
        { id:  2, name:  'B', counter: 0, email: 'b@mail.com' },
        { id:  3, name:  'C', counter: 0, email: 'c@mail.com' },
        { id:  4, name:  'D', counter: 0, email: 'd@mail.com' },
        { id:  5, name:  'E', counter: 0, email: 'e@mail.com' },
        { id:  6, name:  'F', counter: 0, email: 'f@mail.com' },
        { id:  7, name:  'G', counter: 0, email: 'g@mail.com' },
        { id:  8, name:  'H', counter: 0, email: 'h@mail.com' },
        { id:  9, name:  'I', counter: 0, email: 'i@mail.com' },
        { id: 10, name: 'AA', counter: 0, email: 'aa@mail.com' },
        { id: 11, name: 'BB', counter: 0, email: 'bb@mail.com' },
        { id: 12, name: 'CC', counter: 0, email: 'cc@mail.com' },
        { id: 13, name: 'DD', counter: 0, email: 'dd@mail.com' },
        { id: 14, name: 'EE', counter: 0, email: 'ee@mail.com' },
        { id: 15, name: 'FF', counter: 0, email: 'ff@mail.com' },
        { id: 16, name: 'GG', counter: 0, email: 'gg@mail.com' },
        { id: 17, name: 'HH', counter: 0, email: 'hh@mail.com' },
        { id: 18, name: 'II', counter: 0, email: 'ii@mail.com' },
        { id: 19, name: 'JJ', counter: 0, email: 'jj@mail.com' }
      ];
    </script>

    <script type="text/ng-template" id="_delete_user_confirm.html">
      <div class="modal-header">
        <h3 class="modal-title">Delete user</h3>
      </div>

      <div class="modal-body">
        <b>Do you wish to delete user "{{ username }}"?</b> This operation cannot be undone.
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
        <button class="btn btn-danger" ng-click="$close()">Delete</button>
      </div>
    </script>

  </head>

  <body ng-controller="MainController">

    <h1>ngTableAsync</h1>
    <hr />
    <h3>Overview example</h3>

    <ng-table-async options="tableOptions">
      <nta-column header="'id'"    content="item.id"></nta-column>
      <nta-column header="'Email'" content="item.email"></nta-column>
      <nta-column header="'Counter'">
        <span ng-bind="item.counter"></span>
        <nta-action
          action = "increment"
          size   = "xs"
          icon   = "glyphicon glyphicon-plus"
        ></nta-action>
      </nta-column>
      <nta-column header="'Actions'">
        <nta-action
          label  = "Reset counter"
          action = "reset"
          size   = "xs"
          icon   = "glyphicon glyphicon-ban-circle"
        ></nta-action>
        <nta-action
          label  = "Remove"
          action = "remove"
          size   = "xs"
          icon   = "glyphicon glyphicon-trash"
          style  = "danger"
        ></nta-action>
      </nta-column>
    </ng-table-async>

    <script type="text/javascript">
      var app = angular.module('examples.overview', [ 'ngTable', 'ngTableAsync', 'ui.bootstrap' ]);

      app.controller('MainController', function($scope, $q, $timeout, $window){

        var simulatePromiseDelay = function(cb){
          var defer = $q.defer();
          $timeout(function(){
            var result = cb();
            defer.resolve(result);
          }, 2500);
          return defer.promise;
        };

        $scope.tableOptions = {
          pageSize      : 7,
          pagerOnTop    : true,
          getPage: function(skip, limit){
            var page = $window.DATA.slice(skip, skip + limit);
            return $q.all([
              $window.DATA.length,
              page
            ]);
          },
          actions: {
            increment: {
              method : function(user){
                console.log('Incrementing...');
                return simulatePromiseDelay(function(){
                  user.counter += 1;
                });
              },
              reload: false
            },
            reset: function(user){
              console.log('Resetting...');
              return simulatePromiseDelay(function(){
                user.counter = 0;
              });
            },
            remove: {
              method : function(user){
                _.remove($window.DATA, { id: user.id });
              },
              dialog : {
                templateUrl : '_delete_user_confirm.html',
                params      : function(item){
                  return { username: item.email };
                }
              }
            }
          }
        };


      });

    </script>

  </body>

</html>
