<div ng-controller="CustomNoDataExampleController">
  <script type="text/ng-template" id="_my_custom_no_data.html">
    <div class="text-center">
      <h1 class="glyphicon glyphicon-info-sign"></h1>
      <br />
      <strong>No results available right now.</strong>
    </div>
  </script>

  <ng-table-async options="tableOptions">
    <nta-column header="'id'"    content="item.id"></nta-column>
    <nta-column header="'Email'" content="item.email"></nta-column>
    <nta-column header="'Counter'" content="item.counter"></nta-column>
    <nta-column header="'Actions'">
      <nta-action
        action = "increment"
        size   = "xs"
        icon   = "glyphicon glyphicon-plus"
      ></nta-action>
      <nta-action
        label  = "Remove"
        action = "remove"
        size   = "xs"
        icon   = "glyphicon glyphicon-trash"
        style  = "danger"
      ></nta-action>
    </nta-column>
    <nta-no-data template-url="_my_custom_no_data.html"></nta-no-data>
  </ng-table-async>
</div>
